<div class="jumbotron text-center">  
  <h2 id="title">{{#link-to 'application'}}Pages{{/link-to}}</h2>
  {{#link-to 'pages'}}<button class="btn btn-primary">All Pages</button>{{/link-to}}
  {{#link-to 'pages.new'}}<button class="btn btn-primary">New Pages</button>{{/link-to}}
</div>  
{{outlet}}
